darkgray {
    color: #444444;
}

.darklink {
    color: #555555;
}

body {
    background: #222222;
    color: #777777;
}

hr {
    color: #333333;
      background-color: #333333;
      height: 2px;
      border: none;
}
