darkgray {
    color: #444;
}

.darklink {
    color: #555;
}

body {
    background: #333;
    color: #777;
}

hr {
    color: #444;
      background-color: #333;
      height: 2px;
      border: none;
}


#copyright {
    overflow: hidden;
    bottom: 1em;
    right: 1em;
    text-align: center;
}
