a { 
    color: #aaa;
}
body {
    background: #333;
    color: #aaa;
    font-family: "sans-serif";
}
hr {
    color: #aaa;
    background-color: #aaa;
    height: 2px;
    border: none;
}
select {
    color: #aaa;
    background-color: #333;
}
